In [33]:
import pandas as pd
from pandasql import sqldf 
import numpy as np
pysqldf = lambda q: sqldf(q, globals())

In [34]:
#global variables 
pathtoData = '/Users/zacharywong/github/zacharywong2023/GreenWave/Data/'
pathtoDeliverables = '/Users/zacharywong/github/zacharywong2023/GreenWave/Deliverables/'

In [35]:
# import bicycle count data in pandas dataframe 
bicycleCountData= 'Bike_Volume_-_Manual_Counts.csv' 
df = pd.read_csv(pathtoData + bicycleCountData)
df.head()

# Split Location into two streets
#df[['Street1', 'Street2']] = df['LOCATION'].str.split(' & ', 1, expand=True)

# reorder columns and delete unused columns 
df['YR2012_PM'] = np.nan

cols = df.columns.tolist()
del(cols[0:6])
del(cols[-7:-1])
del(cols[-4])
del(cols[-4])
cols[0:6] + cols[-1:] + cols[7:]
del(cols[-1])
df = df[cols]
df

,YR2006_PM,YR2007_PM,YR2008_PM,YR2009_PM,YR2010_PM,YR2011_PM,YR2013_PM,YR2014_PM,YR2015_PM,YR2016_PM,YR2017_PM
0,-1,-1,-1,-1,-1,-1,275.0,275.0,365,-1,-1
1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1,-1,-1
2,158,181,209,203,258,336,432.0,432.0,446,481,367
3,-1,-1,-1,-1,-1,-1,64.0,64.0,85,-1,-1
4,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...
114,-1,-1,-1,-1,-1,-1,44.0,44.0,20,-1,-1
115,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1,-1,239
116,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1,-1,-1
117,-1,-1,-1,-1,-1,-1,19.0,19.0,53,-1,-1
118,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1,-1,-1

In [36]:
#missionStreets = ["""Church St|Dolores St|Gurerrero St|Valencia St|Mission St|S Vann Nessa St|Folsom St|Harrison St|Bryant St|Potrero St|
 #               13 St|14 St|15 St|16 St|17 St|18 St|19 St|20 St|21 St|22 St|23 St|24 St|25 St|26 St"""]
sfDF = df[(df['YR2006_PM'] > -1) & (df['YR2016_PM'] > -1)] 
#sfDF = df.T.reset_index()
#sfDF.columns = ['Count_Year', 'Bicycle_Count']
#sfDF
sfDF.head()

,YR2006_PM,YR2007_PM,YR2008_PM,YR2009_PM,YR2010_PM,YR2011_PM,YR2013_PM,YR2014_PM,YR2015_PM,YR2016_PM,YR2017_PM
2,158,181,209,203,258,336,432.0,432.0,446,481,367
5,441,541,690,606,771,1059,1285.0,1285.0,1219,1169,1073
13,101,107,140,133,129,233,413.0,413.0,485,576,490
20,240,292,490,517,382,625,613.0,613.0,580,522,460
26,223,266,295,309,311,497,680.0,680.0,668,819,751

In [37]:
# Use SQL to clean data 
# Only keep rows with streets in Mission District
# Streets: 13th-26th, Cesar Chavez
# Streets: Church, Dolores, Gurerrero, Valencia, Mission, S Vann Nessa, Folsom, Harrison, Bryant, Potrero

# split location into two streets

q = """SELECT Sum(YR2006_PM) as YR_2006, Sum(YR2007_PM) as YR_2007, Sum(YR2008_PM) as YR_2008, Sum(YR2009_PM) as YR_2009, 
        Sum(YR2010_PM) as YR_2010, Sum(YR2011_PM) as YR_2011, Sum(YR2013_PM) as YR_2013, Sum(YR2014_PM) as YR_2014, 
        Sum(YR2015_PM) as YR_2015, Sum(YR2016_PM) as YR_2016, Sum(YR2017_PM) as YR_2017
        From sfDF
    """ 
df = pysqldf(q)
#df.rename(index={'0': 'Row_1'})
#df.index = ['Bicycle Count']
dfBC = df.T.reset_index()
dfBC.columns = ['Count_Year', 'Bicycle_Count']
dfBC

   Count_Year  Bicycle_Count
0     YR_2006         4282.0
1     YR_2007         4623.0
2     YR_2008         6170.0
3     YR_2009         6469.0
4     YR_2010         6639.0
5     YR_2011        10483.0
6     YR_2013        11010.0
7     YR_2014        11010.0
8     YR_2015        10655.0
9     YR_2016        11547.0
10    YR_2017        10772.0

In [38]:
bicycleCountData= 'Bicycle_Parking.csv' 
df = pd.read_csv(pathtoData + bicycleCountData)
df

# clean up table and only keep spaces and install_year
cols = df.columns.tolist()
del cols[0:6]
del cols[-12:]
del cols[1]
cols
df = df[cols]
df

      SPACES  INSTALL_YR
0          2        2004
1          0           0
2          2        2015
3          4        2010
4          2        2011
...      ...         ...
5195       2        2012
5196       2        2021
5197       2        2017
5198       2        2010
5199       4        2019

[5200 rows x 2 columns]

In [39]:
# use sql to group by year 
q = """ SELECT INSTALL_YR as Year, SUM(SPACES) as Spaces
        FROM df
        WHERE INSTALL_YR >= 2006 AND INSTALL_YR <= 2017
        GROUP BY INSTALL_YR
        ORDER BY INSTALL_YR
    """
parkSFDF = pysqldf(q)
parkSFDF

    Year  Spaces
0   2006     284
1   2007      41
2   2008      88
3   2009      46
4   2010    1292
5   2011     688
6   2012     962
7   2013    1127
8   2014     405
9   2015    2101
10  2016     706
11  2017    1032

In [40]:
df = parkSFDF.join(dfBC, how='outer').drop(['Count_Year'], axis = 1)
df = df[['Year', 'Bicycle_Count', 'Spaces']]
df.set_index(['Year'])
fileName = 'SFData.csv'
df.to_csv(pathtoDeliverables + fileName)

In [41]:
import stata_setup
stata_setup.config("/Applications/Stata", "se")

In [18]:
%%stata
insheet using "/Users/zacharywong/github/zacharywong2023/GreenWave/Deliverables/SFData.csv", comma clear
set scheme s1mono
grstyle init
grstyle set graphsize 6cm 10cm
twoway (lfit bicycle_count year if year <= 2010) (lfit bicycle_count year if year >= 2011) (lfit spaces year ) ///
(scatter bicycle_count spaces year), xline(2010.5) title("Bicycle Counts and Rack Spaces from 2006 - 2017") ///
legend(order(4 "Bicycle Count" 5 "Bicycle Rack Spaces"))

. insheet using "/Users/zacharywong/github/zacharywong2023/GreenWave/Deliverabl
> es/SFData.csv", comma clear
(4 vars, 12 obs)

. set scheme s1mono

. grstyle init

. grstyle set graphsize 6cm 10cm

. twoway (lfit bicycle_count year if year <= 2010) (lfit bicycle_count year if
> year >= 2011) (lfit spaces year ) ///
> (scatter bicycle_count spaces year), xline(2010.5) title("Bicycle Counts and
> Rack Spaces from 2006 - 2017") ///
> legend(order(4 "Bicycle Count" 5 "Bicycle Rack Spaces"))

.